body{

    background: #051920;
    color:#D0D0D0;

   -webkit-user-select: none;
}



.intro h2{
    display: flex;
    justify-content: center;
    padding: 0 7px;
}





table, td {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;
    font-size: 18px;
    text-align: left;
    border: 1px solid #D0D0D0;

}


td{
    padding: 0 7px;
}
